.separator{
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.labelDiv{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.label:hover{
    text-decoration: underline;
    color:#C7511F ;
    text-decoration-color: #C7511F;
}
.radioGroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.flag{
    width:26px;
    height:16px
}
.innerseparator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -0.7em;
}
.divider{
    margin-left: 2em;
}